if section_scripts
  - var total_scripts = section_scripts[current_profile].length
  - for (var i = 0; i < total_scripts; i++)
    script(type="text/javascript" src=section_scripts[current_profile][i])