head
  title #{site.title} #{page}
  meta(http-equiv="content-type" content="charset=utf-8")
  link(rel="stylesheet" href=global_path + styles.global[current_profile] type="text/css")
  if section_style
    link(rel="stylesheet" href=global_path + styles.base + section_style[current_profile] type="text/css")
